<ion-header>
    <ion-navbar [color]="'default' | theme | async">
        <ion-title>{{'WALLET_CREATE_TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding ibg="default" icolor="font">
    <!-- <ngx-qrcode qrc-element-type="img" [qrc-value] = "wif"></ngx-qrcode> -->
    <img id="wallet-qrcode" ibg="default2" />
    <div class="title">
        {{'WALLET_CREATE_YOURWIF' | translate}}
        <img *ngIf="shown" (click)="shown = false" isrc="assets/wallet/backups_btn_display_s@2x.png" />
        <img *ngIf="!shown" (click)="shown = true" isrc="assets/wallet/backups_btn_display_n@2x.png" />
    </div>
    <input icolor="font" ibg="default" *ngIf="shown" class="wif" id="wif-copy" readonly="readonly" contenteditable="false" [value]="newWallet?.wif" />
    <input icolor="font" ibg="default" *ngIf="!shown" type="text" class="wif" readonly="readonly" contenteditable="false" value="**************************************************" />
    <button [color]="'primary' | theme | async" *ngIf="shown" class="btn copy" ion-button outline (click)="copy()">{{(copied ? 'WALLET_CREATE_COPIED' : 'WALLET_CREATE_COPY') | translate}}</button>
    <button [color]="'primary' | theme | async" margin-vertical ion-button block (click)="enter()">{{'WALLET_CREATE_ENTER' | translate}}</button>
</ion-content>
