<ion-header>
    <ion-navbar>
        <ion-title>your new wallet</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ngx-qrcode qrc-element-type="img" [qrc-value] = "wif"></ngx-qrcode>
    <div class="title">Your WIF: <ion-icon name="eye" style="font-size: 32px; vertical-align: middle;"></ion-icon></div>
    <div class="wif">

    </div>
    <input class="wif" id="wif-copy" readonly="readonly" contenteditable="false" [value]="wif" />
    <button class="btn copy" ion-button outline (click)="copy()">{{copied ? 'Copied !' : 'Copy WIF'}}</button>
    <button margin-vertical ion-button block (click)="enter()">Enter wallet</button>
</ion-content>
