<ion-header>
    <ion-navbar>
        <ion-title>your new wallet</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ngx-qrcode qrc-element-type="img" [qrc-value] = "wif"></ngx-qrcode>
    <div class="title">Your WIF: <ion-icon name="eye" (click)="toggleWif()"></ion-icon></div>
    <div class="wif">

    </div>
    <div class="wif">{{wif}}</div>
    <button class="btn copy" ion-button outline (click)="copy()">{{copied ? 'Copied !' : 'Copy WIF'}}</button>
    <button margin-vertical ion-button block (click)="enter()">Enter wallet</button>
</ion-content>
