wallet-open {
    .input-cover{
        display: none;
    }
    .tip {
        background: map-get($colors, primary);
        color: map-get($colors, light);
    }
    .error {
        color: map-get($colors, danger);
    }
    .scroll-content {
        background: #f3f3f3;
    }
}