wallet-open {
    .input-cover{
        display: none;
    }
    ion-label[fixed] {
        flex: 0 0 140px;
        width: 140px;
    }
    input.text-input[disabled] {
        opacity: 1;
    }
    .scan-btn {
        height: 24px;
        background: transparent;
        float: right;
        box-shadow: none;
        &:hover {
            background: transparent;
        }
    }
}