<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Import wallet</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list margin-vertical>
        <ion-item>
            <ion-label color="primary">Your WIF key</ion-label>
            <ion-textarea placeholder="Tap to enter." type="text" [(ngModel)]="wif"></ion-textarea>
        </ion-item>
    </ion-list>
    <p class="error" *ngIf="wif && !checkWIF()" text-sm margin>Please enter a valid WIF.</p>

    <ion-list margin-vertical>
        <ion-item>
            <ion-label color="primary" fixed>Set a password</ion-label>
            <ion-input placeholder="Tap to enter." [readonly]="true" type="password" [value]="pwd" (click)="enterPwd()"></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label color="primary" fixed>Confirm password</ion-label>
            <ion-input placeholder="Tap to enter." [readonly]="true" type="password" [value]="rePwd" (click)="enterRePwd()"></ion-input>
        </ion-item>
    </ion-list>
    <p class="error" *ngIf="pwd && rePwd && !check()" text-sm margin>Two cipher inconsistencies</p>
    <div padding margin-vertical>
        <button ion-button block (click)="import()" [disabled]="!check() || !checkWIF()">Import wallet</button>
    </div>
</ion-content>