wallet-pwd {
    .input-cover{
        display: none;
    }
    ion-label[fixed] {
        flex: 0 0 140px;
        width: 140px;
    }
    input.text-input[disabled] {
        opacity: 1;
    }
    ion-list ion-item {
        border-top: none !important;
    }
    ion-list ion-item:last-child {
        border-bottom: none !important;
    }
}