transaction-receipt {
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none;
    }
    .toolbar-title {
        color: white !important;
    }
    ion-header {
        ion-navbar {
            button {
                color: white !important;
            }
        }
    }
    ion-content {
        // background: linear-gradient(#42bfee, #3f76de);
        background: linear-gradient(#2ec1e4, #355eaa);
        .address-bg {
            height: 434px;
            margin-top: 30px;
            text-align: center;
            #qrcode {
                margin-top: 40px;
            }
            h5 {
                font-size: 15px;
                color: #3c373b;
                margin-top: 44px;
                margin-bottom: 0;
            }
            .address {
                margin: auto;
                margin-top: 12px;
                font-size: 13px;
                color: #646163;
                display: block;
                border: none;
                width: 80%;
                background: transparent;
                text-align: center;
            }
            button {
                min-width: 150px;
                margin-top: 48px;
                background: #558aef;
                color: white;

            }
        }
    }
}