<ion-header>
    <ion-navbar transparent>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Receipt</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="address-bg" style="background: url('assets/asset/address_bg.png'); background-size: 100% 100%;">
        <img id="qrcode" src="" alt="">
        <h5>收款地址</h5>
        <input readonly class="address" id="wallet-address" [value]="address">
        <button ion-button round primary (click)="copy()">复制</button>
    </div>
</ion-content>