<ion-header>
    <ion-navbar transparent>
        <button ion-button menuToggle color="white">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'TRANSACTION_RECEIPT_TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding icolor="font">
    <div class="address-bg" style="background-image: url('assets/asset/address_bg.png');">
        <img id="qrcode" src="" alt="">
        <h5>{{ 'TRANSACTION_RECEIPT_TARGET' | translate }}</h5>
        <p class="address">{{address}}</p>
        <button class="btn" ion-button round [color]="'primary' | theme | async" (click)="copy()">{{(copied ? 'TRANSACTION_RECEIPT_COPIED' : 'TRANSACTION_RECEIPT_COPY') | translate}}</button>
    </div>
</ion-content>