<ion-header>
    <ion-navbar transparent>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'RECEIPT' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="address-bg" style="background: url('assets/asset/address_bg.png'); background-size: 100% 100%;">
        <img id="qrcode" src="" alt="">
        <h5>{{ 'TAEGET' | translate }}</h5>
        <input readonly class="address" id="wallet-address" [value]="address">
        <button ion-button round primary (click)="copy()">{{ 'WALLET_BACKUP_COPY' | translate }}</button>
    </div>
</ion-content>