transaction-receipt {
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none;
    }
    .toolbar-title {
        color: white !important;
    }
    ion-header {
        ion-navbar {
            button {
                color: white !important;
            }
        }
    }
    ion-content {
        // background: linear-gradient(#42bfee, #3f76de);
        text-align: center;
        background: linear-gradient(#2ec1e4, #355eaa);
        .address-bg {
            height: 434px;
            margin-top: 30px;
            text-align: center;
            background-position: center top;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            #qrcode {
                margin-top: 40px;
            }
            h5 {
                font-size: 15px;
                color: #3c373b;
                margin-top: 44px;
                margin-bottom: 0;
            }
            .address {
                font-size: 13px;
                color: #646163;
                width: 200px;
                margin: 12px auto;
            }
            .btn {
                position: absolute;
                bottom: 0;left: 50%;
                min-width: 150px;
                transform: translateX(-50%);
            }
        }
        .bottom-log-box {
            img {
                width: 74px;
                height: 13px;;
            }
            width: calc(100% - 32px);
            position: absolute;
            bottom: 25px;
            z-index: -1;
            text-align: center;
        }
    }
}