<ion-header no-borde class="header-box">
    <ion-navbar transparent class="nav-bar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
    <div class="header-content" center text-center style="background: url('assets/asset/list_bg_img.png') no-repeat center; background-size: cover">
        <div class="title">
            <span>{{'ASSET_LIST_TITLE' | translate}}</span>
            <img src="assets/asset/icon_QRcode.png" alt="" [navPush]="receipt">
        </div>
        <div class="balance">
            <span class="num">
                {{ neoValue }}
            </span>
            <span class="unit">NEO</span>
        </div>
        <p class="warn-tips" *ngIf="backuped" (click)="walletBackup()">{{'ASSET_LIST_NOBACKED' | translate}}</p>
    </div>
    <!-- <img src="assets/asset/btn_add.png" class="add-asset" (click)="addAsset()"> -->
</ion-header>

<ion-content center>
    <div text-center  padding margin-vertical *ngIf="balance.loading">
         <ion-spinner ></ion-spinner>
    </div>
    <ion-list *ngIf="!balance.loading">
        <ion-item *ngFor="let asset of assetList" (click)="jumpDetail(asset.assetId, asset.name, asset.balance)">
            <span class="asset-type">{{ asset.name }}</span>
            <span item-end>{{ asset.balance }}</span>
        </ion-item>
    </ion-list>
    
    <ion-label *ngIf="!assetList?.length && !balance.loading" text-center class="no-assets">{{'ASSET_LIST_NOASSETS' | translate}}</ion-label>
    <ion-refresher  *ngIf="!balance.loading" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

</ion-content>