asset-list {
    .refresher-pulling-icon, .refresher-refreshing-icon {
        color: inherit;
    }
    .nav-bar {
        position: absolute;
        top: 0;
    }
    .header-box::after {
        background-size: 0;
    }
    .header-content {
        height: 230px;
        width: 100%;
        color: #3c373b;
        background-size: cover;
        .title {
            padding-top: 90px;
            span {
                font-size: 15px;
            }
            img {
                vertical-align: top;
                width: 22px;
                height: 22px;
                margin-left: 8px;
            }
        }
        .balance {
            .num {
                font-size: 25px;
                vertical-align: middle;
            }
            .unit {
                font-size: 12px;
                vertical-align: middle;
            }
        }
        .warn-tips {
            margin: 0;
            font-size: 10px;
            color: #d95959;
        }
    }

    .add-asset {
        width: 40xp;
        height: 40px;
        position: absolute;
        bottom: -20px;
        right: 30px;
    }

    ion-item {
        height: 80px;
        line-height: 80px;
        span {
            color: #3c373b;
            font-size: 20px;
        }
        .asset-type {
            font-size: 18px;
            color: #646163;
        }
    }
    
    .no-assets {
        font-size: 16px;
        color: #646163;
    }
}