<ion-header no-borde class="header-box">
    <ion-navbar transparent class="nav-bar">
        <button ion-button menuToggle color="white">
            <ion-icon name="menu"></ion-icon>
        </button>
        <button  class="transfer-btn" (click)="jumpTransfer()" >
            <img class="transfer-btn" src="assets/asset/btn_transfer.png" alt="">
        </button>
       
    </ion-navbar>
    <div class="header-content" center text-center [style.backgroundImage]="'url(' + ('assets/asset/list_bg_img.png' | isrc | async) + ')'">
        <div class="title">
            <span>{{'ASSET_LIST_TITLE' | translate}}</span>
            <img src="assets/asset/detailspage_btn_icon_QRcode.png" alt="" [navPush]="receipt">
        </div>
        <div class="balance">
            <span class="num">
                {{ neoValue }}
            </span>
            <span class="unit">NEO</span>
        </div>
        <p class="warn-tips" *ngIf="!wallet.backup" (click)="walletBackup()">{{'ASSET_LIST_NOBACKED' | translate}}</p>
    </div>
    <img *ngIf="selectedNet == 'Main'" src="assets/asset/btn_add.png" class="add-asset" (click)="addAsset()">
</ion-header>

<ion-content center ibg="default3" iborder="line">
    <div text-center padding margin-vertical *ngIf="balance.loading && isloading">
         <ion-spinner [color]="'primary' | theme | async"></ion-spinner>
    </div>
    <ion-list *ngIf="!balance.loading">
        <ion-item iborder="line" ibg="default3" icolor="font" *ngFor="let asset of assetList" (click)="jumpDetail(asset.assetId, asset.name, asset.balance)">
            <span class="asset-type" icolor="font">{{ asset.symbol }}</span>
            <span item-end icolor="font">{{ asset.balance }}</span>
        </ion-item>
    </ion-list>
    <ion-label icolor="font" *ngIf="!assetList?.length && !balance.loading" text-center class="no-assets">{{'ASSET_LIST_NOASSETS' | translate}}</ion-label>
    <ion-refresher  *ngIf="!balance.loading" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content icolor="primary">
        </ion-refresher-content>
    </ion-refresher>

</ion-content>