<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Back" defaultHref="/asset/list"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'ASSET_LIST_ADDASSETS' | translate  }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <ion-list>
        <ion-item *ngFor="let item of assetList; let i = index">
            <ion-label>
                <h3>{{ item.symbol }}</h3>
                <div class="info" icolor="font2">
                    <p icolor="font3">{{ item.name }}</p>
                    <p icolor="font2">{{ item.assetId.substring(0, 8) }}....{{ item.assetId.substring( item.assetId.length - 8) }}</p>
                </div>
            </ion-label>
            <ion-toggle *ngIf="i > 3 && item.balance == 0" [(ngModel)]="item.choose" (ionChange)="changeChoose($event, i)"></ion-toggle>
        </ion-item>
    </ion-list> -->
</ion-content>