<ion-header>
    <ion-navbar [color]="'default2' | theme | async">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'TRANSACTION_SUCCESS_TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding ibg="default" icolor="font">
    <img src="assets/transaction/icon_complete.png" alt="">
    <p text-center class="success-text">{{ 'TRANSACTION_SUCCESS_TITLE' | translate }}</p>
    <button ion-button round block outline class="returnRoot" (click)="returnRoot()">{{ 'TRANSACTION_SUCCESS_RETURNHOME' | translate }}</button>
</ion-content>