success {
    ion-content {
        text-align: center;
        img {
            margin-top: 20%;
            width: 220px;
            height: 190px;
        }
        .returnRoot {
            margin-top: 15%;
        }
    }
   
}