<ion-header>
    <ion-toolbar padding-top>
      <ion-buttons slot="start">
        <ion-back-button text="Back" defaultHref="/wallet/gate"></ion-back-button>
      </ion-buttons>
      <ion-title padding-top>{{ 'WALLET_PWD_TITLE' | translate  }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div padding class="tip">{{ 'WALLET_PWD_TIP' | translate  }}</div>

    <ion-list margin-bottom>
        <ion-item>
            <ion-label color="primary" fixed>{{ 'WALLET_PWD_SET' | translate  }}</ion-label>
            <ion-input placeholder="{{ 'WALLET_PWD_SET_PH' | translate  }}" type="password" [(ngModel)]="pwd"></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label color="primary" fixed>{{ 'WALLET_PWD_CONFIRM' | translate  }}</ion-label>
            <ion-input placeholder="{{ 'WALLET_PWD_CONFIRM_PH' | translate  }}" type="password" [(ngModel)]="rePwd"></ion-input>
        </ion-item>
    </ion-list>
    <p class="error" *ngIf="pwd && rePwd && !check()" text-sm margin>{{ 'WALLET_PWD_MISMATCH' | translate }}</p>
    <p class="error" *ngIf="pwd && pwd.length < 6" text-sm margin>{{'WALLET_PWD_TOOSHORT' | translate}}</p>
    <ion-button margin expand="block" (click)="create()" [disabled]="!check()">{{ 'WALLET_PWD_CREATE' | translate }}</ion-button>
</ion-content>