<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>iwallic</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ngx-qrcode qrc-element-type="img" [qrc-value] = "wallet?.wif"></ngx-qrcode>
    <div class="title">Your WIF: <ion-icon name="eye" style="font-size: 32px; vertical-align: middle;"></ion-icon></div>
    <div class="wif">

    </div>
    <input class="wif" id="wif-copy" readonly="readonly" contenteditable="false" [value]="wallet?.wif" />
    <button class="btn copy" ion-button outline (click)="copy()">{{copied ? 'Copied !' : 'Copy WIF'}}</button>
</ion-content>