wallet-backup {
    ion-content {
        text-align: center;
    }
    .wallet-qrcode {
        margin: 44px auto 32px auto;
        width: max-content;
        min-width: 160px;
        min-height: 160px;
        background: #f3f3f3;
        border-radius: 4px;
    }
    #wallet-qrcode {
        margin: 44px auto 32px auto;
        min-width: 160px;
        min-height: 160px;
    }
    .wallet-qrcode img {
        margin-top: 52px;
        height: 56px;
        width: 56px;
    }
    .title img {
        height: 36px;width: 36px;
        vertical-align: middle;
    }
    .wif {
        margin: 12px 0;
        border: none;
        display: block;
        width: 100%;
        text-align: center;
        margin: 12px 0 24px 0;
    }
    button.btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 250px;
    }
    button.btn.copy {
        margin-bottom: 44px;
        max-width: 160px;
    }
    p.tip {
        color: #d95959;
        margin: 48px auto 16px auto;
        text-align: left;
    }
}