<ion-tabs>
    <ion-tab label="Asset" icon="calendar" href="/main/(asset:asset)">
        <ion-router-outlet stack name="asset"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="Transaction" icon="contacts" href="/main/(transaction:transaction)">
        <ion-router-outlet stack name="transaction"></ion-router-outlet>
    </ion-tab>
    <ion-tab disabled></ion-tab>
    <ion-tab label="Block" icon="map" href="/main/(block:block)">
        <ion-router-outlet stack name="block"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="User" icon="information-circle" href="/main/(user:user)">
        <ion-router-outlet stack name="user"></ion-router-outlet>
    </ion-tab>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button (click)="goto('/transfer')"><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
</ion-fab>
      