transaction-transfer {
    .input-cover {
        display: none;
    }
    ion-content {
        .choose-asset {
            width: 100%;
            font-size: 15px;
        }
        ion-list {
            margin: 0;
            .scan {
                height: 22px;
                width: 22px;
                border: none;
                margin: 0 !important;
            }
            ion-input {
                font-size: 15px;
            }
            &.note {
                margin-bottom: 0 !important;
            }
        }
    }
    ion-list.list {
        margin-bottom: 0;
    }
}