<ion-header>
    <ion-navbar [color]="'default2' | theme | async">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'TRANSACTION_TRANSFER_TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content ibg="default">
    <ion-list>
        <ion-item iborder="line" ibg="default2" class="choose-asset">
            <ion-label  icolor="font">{{ 'TRANSACTION_TRANSFER_CHOOSEASSET' | translate }}</ion-label>
            <ion-select [(ngModel)]="asset" icolor="font" ibg="default2" (ngModelChange)="assetChange()" 
            cancelText="{{'ALERT_NO_CANCEL' | translate}}" okText="{{'ALERT_OK_SURE' | translate}}">
                <ion-option [value]="i.assetId" *ngFor="let i of assetList">{{ i.symbol }}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item ibg="default2" iborder="line" icolor="font">
            <ion-input type="text" placeholder="{{ 'TRANSACTION_TRANSFER_TARGET' | translate }}" [(ngModel)]="toaddr"></ion-input>
            <button *ngIf="isScan" clear ion-button item-end (click)="qrScan()">
                <ion-icon style="font-size: 24px;font-weight: 600;" name="qr-scanner"></ion-icon>
            </button>
        </ion-item>
        <ion-item iborder="line" ibg="default2" icolor="font">
            <ion-input [disabled]="!asset?.length" type="number" placeholder="{{ 'TRANSACTION_TRANSFER_AMOUNT' | translate }}"
                (ionFocus)="isfocus=true" (ionBlur)="isfocus=false" [(ngModel)]="amount"></ion-input>
            <ion-note item-right *ngIf="isfocus">{{ 'TRANSACTION_TRANSFER_BALANCE' | translate }}：{{ assetBalance }}</ion-note>
            <button ibg="default2" icolor="font" clear item-end (click)="clearAmount()" *ngIf="amount"><ion-icon name="close"></ion-icon></button>
        </ion-item>
    </ion-list>
    <p icolor="danger" margin text-sm float-left>{{ wrongTips | translate }}</p>
    <button clear float-right ion-button (click)="clear()">{{'TRANSACTION_TRANSFER_CLEAR' | translate}}</button>
    <div padding style="margin-top: 48px;">
        <button ibg="primary" ion-button block round (click)="enterPwd()">{{ 'TRANSACTION_TRANSFER_SUBMIT' | translate }}</button>
    </div>
</ion-content>