popup-input {
    .mask {
        background: #000000;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 999;
        top: 0;left: 0;
    }
    .board {
        position: fixed;
        width: 100%;
        z-index: 1000;
        background: #ffffff;
        left: 0;
        height: 100%;
        bottom: -100px;
    }

    .pwd {
        text-align: center;
        outline: none;
        border: none;
        font-size: 24px;
        font-weight: 600;
        color: map-get($colors, primary);
        width: 100%;
        margin: 32px 0 16px 0;
        letter-spacing: 3px;
    }

    input::placeholder {
        color: map-get($colors, primary);
        opacity: 0.5;
    }
}
