<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Helpers</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-group margin-vertical>
            <button ion-item>
                <ion-label>Wallet guide</ion-label>
            </button>
            <button ion-item>
                <ion-label>Transaction guide</ion-label>
            </button>
        </ion-item-group>

        <ion-item-group margin-vertical>
            <ion-item>
                <ion-label>Community</ion-label>
                <ion-note item-end>Telegram</ion-note>
            </ion-item>
            <ion-item>
                <ion-label>Contact</ion-label>
                <ion-note item-end>contact@ext.earth</ion-note>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>