<ion-header>
    <ion-navbar [color]="'default2' | theme | async">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'SYSTEM_HELPER_TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content ibg="default" icolor="font">
    <ion-list>
        <ion-item-group margin-vertical>
            <button [color]="'default2' | theme | async" iborder="line" ion-item (click)="wallet()">
                <ion-label>{{'SYSTEM_HELPER_WALLET' | translate}}</ion-label>
            </button>
            <button [color]="'default2' | theme | async" iborder="line" ion-item (click)="transaction()">
                <ion-label>{{'SYSTEM_HELPER_TRANSACTION' | translate}}</ion-label>
            </button>
        </ion-item-group>

        <ion-item-group margin-vertical>
            <ion-item ibg="default2" icolor="font" iborder="line" (click)="browser()">
                <ion-label>{{'SYSTEM_HELPER_BROWSER' | translate}}</ion-label>
                <ion-note item-end>{{helpers?.browser?.value}}</ion-note>
            </ion-item>
            <ion-item ibg="default2" icolor="font" iborder="line" (click)="community()">
                <ion-label>{{'SYSTEM_HELPER_COMMUNITY' | translate}}</ion-label>
                <ion-note item-end>{{helpers?.community?.value}}</ion-note>
            </ion-item>
            <ion-item ibg="default2" icolor="font" iborder="line" (click)="contact()">
                <ion-label>{{'SYSTEM_HELPER_CONTACT' | translate}}</ion-label>
                <ion-note item-end>{{helpers?.contact?.data}}</ion-note>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>