<ion-menu id="iwallic-menu" [content]="content">
    <ion-header class="menu-list-header">
        <ion-toolbar [color]="'default2' | theme | async">
            <img class="sidemenu-logo" src="assets/app/logo.png" />
        </ion-toolbar>
    </ion-header>
    <ion-content ibg="default2" icolor="font">
        <ion-list class="menu-list">
            <button iborder="default2" icolor="font" [color]="'default2' | theme | async" class="sidemenu-item" ion-item (click)="pushPage('wallet-backup')">
                <img isrc="assets/app/backup.png" />
                {{'APP_MENU_BACKUP' | translate}}
            </button>
            <button iborder="default2" icolor="font" [color]="'default2' | theme | async" class="sidemenu-item" ion-item (click)="pushPage('tx-list')">
                <img isrc="assets/app/transaction.png" />
                {{'APP_MENU_TRANSACTION' | translate}}
            </button>
            <button iborder="line" icolor="font" [color]="'default2' | theme | async" class="sidemenu-item" ion-item (click)="pushPage('system-setting')">
                <img isrc="assets/app/setting.png" />
                {{'APP_MENU_SETTING' | translate}}
            </button>
            <button iborder="default2" icolor="font" [color]="'default2' | theme | async" class="sidemenu-item" ion-item (click)="pushPage('system-helper')">
                <img isrc="assets/app/helpers.png" />
                {{'APP_MENU_HELPER' | translate}}
            </button>
            <button iborder="line" icolor="font" [color]="'default2' | theme | async" class="sidemenu-item" ion-item (click)="pushPage('system-about')">
                <img isrc="assets/app/about.png" />
                {{'APP_MENU_ABOUT' | translate}}
            </button>
            <button iborder="line" icolor="font" [color]="'default2' | theme | async" class="sidemenu-item" ion-item (click)="signOut()">
                <img isrc="assets/app/signout.png" />
                {{'APP_MENU_SIGNOUT' | translate}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav #content swipeBackEnabled="false"></ion-nav>