// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.sidemenu-logo {
    height: 48px;
    display: block;
    margin: 16px auto;
}
.sidemenu-item {
    font-size: 14px;
    color: #646163;
}
.sidemenu-item img {
    height: 25px;width: 25px;vertical-align: middle;
    margin-bottom: 3px;margin-right: 8px;
}