asset-attach {
    ion-content {
        ion-list {
            ion-item {
                height: 90px;
                h3 {
                    display: inline-block;
                    vertical-align: middle;
                }
                div {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}