<ion-header>
    <ion-navbar [color]="'default2' | theme | async">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'ASSET_LIST_ADDASSETS' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content center ibg="default2">
    <div text-center padding margin-vertical *ngIf="isloading">
        <ion-spinner [color]="'primary' | theme | async"></ion-spinner>
    </div>
    <ion-list>
        <ion-item ibg="default2" iborder="line" icolor="font" *ngFor="let item of assetList; let i = index">
            <ion-label>
                <h3>{{ item.symbol }}</h3>
                <div class="info" icolor="font2">
                    <p icolor="font3">{{ item.name }}</p>
                    <p icolor="font2">{{ item.assetId.substring(0, 8) }}....{{ item.assetId.substring( item.assetId.length - 8) }}</p>
                </div>
            </ion-label>
            <ion-toggle *ngIf="i > 3 && item.balance == 0" [(ngModel)]="item.choose" (ionChange)="changeChoose($event, i)"></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>