<ion-header>
    <ion-navbar [color]="'default2' | theme | async">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>添加资产</ion-title>
    </ion-navbar>
</ion-header>

<ion-content center ibg="default3">
    <ion-list>
        <ion-item ibg="default3" iborder="line" icolor="font">
            <ion-label>
                <h3>NEO</h3>
                <div>
                    <p>slkjsldfj</p>
                    <p>sldjfslkdjf</p>
                </div>
            </ion-label>
            <ion-toggle [(ngModel)]="chooseList[0]" (ionChange)="changeChoose($event)"></ion-toggle>
        </ion-item>
        <ion-item ibg="default3" iborder="line" icolor="font">
            <ion-label>
                <h3>GAS</h3>
                <div>
                    <p>slkjsldfj</p>
                    <p>sldjfslkdjf</p>
                </div>
            </ion-label>
            <ion-toggle [(ngModel)]="chooseList[1]" (ionChange)="changeChoose($event)"></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>