<ion-header>
    <ion-navbar [color]="'default2' | theme | async">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'TRANSACTION_LIST_TRANSACTION' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content ibg="default3" iborder="line">
    <ion-list>
        <ion-item-sliding *ngFor="let i of items" #slidingItem>
            <ion-item iborder="line" ibg="default3" [icolor]="i.value <= 0 ? 'font' : 'danger'" [ngClass]="{'payment' : i.value <= 0, 'revenue': i.value > 0}">
                <ion-avatar item-start>
                    <img [isrc]="i.value <= 0 ? 'assets/asset/record_icon_payment.png' : 'assets/asset/record_icon_revenue.png'" />
                </ion-avatar>
                <h2>{{ i.value }} {{ i.name }}</h2>
                <p>{{ i.txid }}</p>
                <ion-note item-end icolor="primary" *ngIf="i?.unconfirmed">{{'TRANSACTION_LIST_UNCONFIRMED' | translate}}</ion-note>
            </ion-item>
            <ion-item-options ibg="default2" iborder="line">
                <button ion-button [color]="'primary' | theme | async" (click)="copyTx(i.txid, slidingItem)">
                    <ion-icon name="copy"></ion-icon>
                    {{'TRANSACTION_LIST_COPY' | translate}}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <div icolor="font2" margin-vertical padding text-sm text-center (click)="loadMore()">
        {{(!items?.length ? 'TRANSACTION_LIST_NORANSACTION' : transcation.loading ? 'TRANSACTION_LIST_LOADING' : transcation.nomore ? 'TRANSACTION_LIST_NOMORE' : 'TRANSACTION_LIST_LOADMORE') | translate}}
    </div>
    <ion-refresher  *ngIf="!transcation.loading" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content icolor="primary"></ion-refresher-content>
    </ion-refresher>
</ion-content>