<ion-header>
    <ion-navbar [color]="'default2' | theme | async">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'TRANSACTION_LIST_TRANSACTION' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content ibg="default3" iborder="line">
    <ion-list>
        <ion-item iborder="line" ibg="default3" icolor="font" *ngFor="let i of items" [ngClass]="{'payment' : i.value <= 0, 'revenue': i.value > 0}">
            <ion-grid>
                <ion-row *ngIf="i.value <= 0" icolor="font">
                    <ion-col col-9>
                        <img isrc="assets/asset/record_icon_payment.png" alt="" *ngIf="i.value <= 0">{{ i.txid }}
                    </ion-col>
                    <ion-col *ngIf="!i?.unconfirmed" text-right col-3 class="num">{{ i.value }}{{ i.name }}</ion-col>
                    <ion-col *ngIf="i?.unconfirmed" icolor="primary" text-right col-3 class="num">{{'TRANSACTION_LIST_UNCONFIRMED' | translate}}</ion-col>
                </ion-row>
                <ion-row *ngIf="i.value > 0" icolor="danger">
                    <ion-col col-9>
                        <img isrc="assets/asset/record_icon_revenue.png" alt="">{{ i.txid }}
                    </ion-col>
                    <ion-col text-right col-3 class="num">{{ i.value }}{{ i.name }}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

    <div icolor="font2" margin-vertical padding text-sm text-center (click)="loadMore()">
        {{(!items?.length ? 'TRANSACTION_LIST_NORANSACTION' : transcation.loading ? 'TRANSACTION_LIST_LOADING' : transcation.nomore ? 'TRANSACTION_LIST_NOMORE' : 'TRANSACTION_LIST_LOADMORE') | translate}}
    </div>
    <ion-refresher  *ngIf="!transcation.loading" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content icolor="primary"></ion-refresher-content>
    </ion-refresher>
</ion-content>