<ion-header>
    <ion-navbar [color]="'default2' | theme | async">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'TRANSACTION_LIST_TRANSACTION' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content ibg="default" icolor="font">
    <ion-list>
        <ion-item *ngFor="let i of items" [ngClass]="{'payment' : i.value <= 0, 'revenue': i.value > 0}">
                
            <ion-grid>
                <ion-row>
                        <ion-col col-9>
                            <img src="assets/asset/record_icon_payment.png" alt="" *ngIf="i.value <= 0">
                            <img src="assets/asset/record_icon_revenue.png" alt="" *ngIf="i.value > 0">{{ i.txid }}
                        </ion-col>
                        <ion-col text-right col-3 class="num">{{ i.value }}{{ i.name }}</ion-col>
                </ion-row>
            </ion-grid>
           
           
        </ion-item>
    </ion-list>

    <div class="more" margin-vertical padding text-sm text-center (click)="loadMore()">
        {{(!items?.length ? 'TRANSACTION_LIST_NORANSACTION' : transcation.loading ? 'TRANSACTION_LIST_LOADING' : transcation.nomore ? 'TRANSACTION_LIST_NOMORE' : 'TRANSACTION_LIST_LOADMORE') | translate}}
    </div>
    <ion-refresher *ngIf="!transcation.loading" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
</ion-content>