transaction-list {
    .refresher-pulling-icon, .refresher-refreshing-icon {
        color: inherit;
    }
    .refresher-refreshing .spinner-ios line, .refresher-refreshing .spinner-ios-small line, .refresher-refreshing .spinner-crescent circle {
        stroke: #3e64ad;
    }
    ion-content {
        ion-item {
            height: 60px;
            line-height: 60px;
            font-size: 13px;
            img {
                width: 25px;
                height: 25px;
                vertical-align: middle;
                margin-right: 10px;
            }
            .num {
                float: right;
            }
            ion-col {
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
        }
    }
    .nomore {
        position: relative;
    }
    .nomore::before {
        position: absolute;
        width: 90%;
        left: 0;
        content: ' ';
    }
}