popup-input {
    .input {
        border-radius: 4px;box-sizing: border-box;
    }
    input {
        letter-spacing: 3px;
    }
    .input input::placeholder {
        color: map-get($colors, primary);
    }
}
