.header-content {
    background-repeat: no-repeat;
    background-position: center;
    height: 160px;
    width: 100%;
    color: white;
    background-size: cover;
    position: relative;
    z-index: -1;
    .title {
        padding-top: 60px;
        span {
            font-size: 15px;
        }
        img {
            vertical-align: top;
            width: 22px;
            height: 22px;
            margin-left: 8px;
        }
    }
    .balance {
        .num {
            font-size: 25px;
            vertical-align: middle;
        }
        .unit {
            font-size: 12px;
            vertical-align: middle;
        }
    }
}




