<ion-header no-border class="header-box">
    <div class="header-content" center text-center [style.backgroundImage]="'url(' + 'assets/images/light.list_bg_img.png' + ')'">
        <div class="title">
            <span>{{'ASSET_LIST_TITLE' | translate}}</span>
        </div>
        <div class="balance">
            <span class="num">
                {{ neoValue }}
            </span>
            <span class="unit">NEO</span>
        </div>
        <ion-fab vertical="bottom" edge horizontal="end" slot="fixed">
            <ion-fab-button>
                <ion-icon name="arrow-dropleft"></ion-icon>
            </ion-fab-button>

            <ion-fab-list side="start">
                <ion-fab-button><ion-icon name="iwallic-qrcode"></ion-icon></ion-fab-button>
                <ion-fab-button><ion-icon name="iwallic-trans"></ion-icon></ion-fab-button>
            </ion-fab-list>
        </ion-fab>
        <ion-icon class="manage" (click)="manage()" name="iwallic-manage"></ion-icon>
        <ion-icon class="menu" (click)="menu()" name="menu"></ion-icon>
    </div>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" color="primary" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngFor="let asset of list" lines="full" (click)="jumpDetail(asset.asset_id, asset.symbol, asset.balance)">
            <ion-label padding-vertical>{{ asset.symbol }}</ion-label>
            <ion-label padding-vertical text-end>{{ asset.balance }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
