<ion-header>
    <ion-navbar [color]="'default2' | theme | async">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'APP_MENU_SETTING' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content ibg="default" icolor="font">
    <ion-list margin-vertical>
        <ion-item-group>
            <ion-item ibg="default2" icolor="font" iborder="line">
                <ion-label>{{'SYSTEM_SETTING_LANGUAGE' | translate}}</ion-label>
                <ion-select [(ngModel)]="lang" interface="action-sheet" (ionChange)="langChange()" [selectOptions]="">
                    <ion-option value="sys">{{'SETTING_LANG_SYSTEM' | translate}}</ion-option>
                    <ion-option value="en">English</ion-option>
                    <ion-option value="cn">中文简体</ion-option>
                    <!-- <ion-option value="tw">中文繁體</ion-option> -->
                </ion-select>
            </ion-item>
            <ion-item ibg="default2" icolor="font" iborder="line">
                <ion-label>{{'SYSTEM_SETTING_THEME' | translate}}</ion-label>
                <ion-select [(ngModel)]="selectedTheme" interface="action-sheet" (ngModelChange)="toggleAppTheme()">
                    <ion-option value="light">{{'SYSTEM_SETTING_THEMEDEFAULT' | translate}}</ion-option>
                    <ion-option value="dark">{{'SYSTEM_SETTING_THEMEDARK' | translate}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>