<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Wallet settings</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list margin-vertical>
        <ion-item-group>
            <ion-item>
                <ion-label>Language</ion-label>
                <ion-select [(ngModel)]="lang" interface="action-sheet" (ionChange)="langChange()">
                    <ion-option value="sys">{{'SETTING_LANG_SYSTEM' | translate}}</ion-option>
                    <ion-option value="en">English</ion-option>
                    <ion-option value="cn">中文简体</ion-option>
                    <!-- <ion-option value="tw">中文繁體</ion-option> -->
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Theme</ion-label>
                <ion-select [(ngModel)]="theme" interface="action-sheet">
                    <ion-option value="default">Default</ion-option>
                </ion-select>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>