<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>About iWallic</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-list margin-vertical>
        <button ion-item>
            <ion-label>Check new version</ion-label>
        </button>
        <ion-item>
            <ion-label>Version</ion-label>
            <ion-note item-end>Pikachu!</ion-note>
        </ion-item>
        <button ion-item>
            <ion-label>Disclaimer</ion-label>
        </button>
    </ion-list>
</ion-content>
