<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'SYSTEM_ABOUT_TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-list margin-vertical>
        <button ion-item (click)="checkVersion()">
            <ion-label>{{'SYSTEM_ABOUT_VERSION' | translate}}</ion-label>
        </button>
        <ion-item>
            <ion-label>{{'SYSTEM_ABOUT_CURRENT' | translate}}</ion-label>
            <ion-note item-end>Pikachu!</ion-note>
        </ion-item>
        <button ion-item (click)="disclaimer()">
            <ion-label>{{'SYSTEM_ABOUT_DISCLAIMER' | translate}}</ion-label>
        </button>
    </ion-list>
</ion-content>
