<ion-content style="background: url('assets/wallet/gate_bg.png') no-repeat center; background-size: cover;">
    <ion-input class="input" type="password" margin-vertical text-center [(ngModel)]="pwd" placeholder="{{'SHARED_PASSWORD_VERIFY' | translate}}"></ion-input>
    <p class="error" text-sm margin>{{(pwd && pwd.length < 6 ? 'SHARED_PASSWORD_TOOSHORT' : '') | translate}}</p>
    <div padding margin-vertical>
        <button class="verify" ion-button block (click)="verify()" [disabled]="!pwd?.length">
            <ion-spinner *ngIf="verifying"></ion-spinner>
            <span *ngIf="!verifying">{{'WALLET_CREATE_ENTER' | translate}}</span>
        </button>
        <button ion-button block clear [navPush]="openPage">{{'WALLET_GATE_OPEN_WALLET' | translate}}</button>
        <button ion-button block clear [navPush]="createPage">{{'WALLET_GATE_CREATE_WALLET' | translate}}</button>
    </div>
</ion-content>
