<ion-content style="background: url('assets/wallet/gate_bg.png') no-repeat center; background-size: cover;">
    <input placeholder="Tap to verify." type="password" [(ngModel)]="pwd" />
    <div padding margin-vertical>
        <button class="verify" ion-button block (click)="verify()" [disabled]="!pwd?.length">
            <ion-spinner *ngIf="verifying"></ion-spinner>
            <span *ngIf="!verifying">Enter wallet</span>
        </button>
        <button ion-button block clear [navPush]="openPage">open</button>
        <button ion-button block clear [navPush]="createPage">create</button>
    </div>
</ion-content>
