<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Back" defaultHref="/wallet/create"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'WALLET_BACKUP_TITLE' | translate  }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <img id="wallet-qrcode" [hidden]="!verified" />
    <div ibg="default" class="wallet-qrcode" (click)="showQRCode()" *ngIf="!verified">
        <ion-icon name="iwallic-touch"></ion-icon>
    </div>
    <div class="title">
        {{'WALLET_BACKUP_YOURWIF' | translate}}
        <ion-icon *ngIf="shown" (click)="shown = false" name="iwallic-eye"></ion-icon>
        <ion-icon *ngIf="!shown" (click)="showQRCode() || (verified && shown = true)" name="iwallic-eyeclose"></ion-icon>
    </div>
    <p *ngIf="shown" class="tip">{{wif}}</p>
    <p *ngIf="!shown" class="tip">********************</p>
    <ion-button *ngIf="shown" class="btn copy"  outline (click)="copy()">{{(copied ? 'WALLET_BACKUP_COPIED' : 'WALLET_BACKUP_COPY') | translate}}</ion-button>

    <ion-button *ngIf="shown" class="btn copy" ion-button (click)="leaveConfirm()">{{'WALLET_BACKUP_BACKED' | translate}}</ion-button>
    <p class="tip" icolor="danger" text-sm>{{'WALLET_BACKUP_TIP' | translate}}</p>
</ion-content>