<ion-header>
    <ion-navbar [color]="'default2' | theme | async">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'TRANSACTION_TRANSFER_TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content ibg="default" >
    <ion-list>
        <ion-item ibg="default2" iborder="line" icolor="font">
            <ion-input type="text" placeholder="{{ 'TRANSACTION_TRANSFER_TARGET' | translate }}" [(ngModel)]="toaddr"></ion-input>
            <button clear ion-button item-end (click)="qrScan()"><img class="scan" src="assets/transaction/icon_scan.png"></button>
        </ion-item>
        <ion-item iborder="line"  ibg="default2" icolor="font">
            <ion-input type="number" placeholder="{{ 'TRANSACTION_TRANSFER_AMOUNT' | translate }}" (focus)="focusNum()" (blur)="blurNum()" [(ngModel)]="amount" ></ion-input>
            <ion-note item-end *ngIf="isfocus">{{ 'TRANSACTION_TRANSFER_BALANCE' | translate }}：{{ assetBalance }}</ion-note>
        </ion-item>
    </ion-list>
    <p class="wrong" float-left>{{ wrongTips | translate }}</p>
    <button clear float-right ion-button (click)="clear()">{{'TRANSACTION_TRANSFER_CLEAR' | translate}}</button>
    <!-- <ion-list class="note">
        <ion-item>
            <ion-input type="text" placeholder="{{ 'TRANSACTION_TRANSFER_NOTE' | translate }}"></ion-input>
        </ion-item>
    </ion-list> -->
    <div padding style="margin-top: 48px;" >
        <button icolor="font" ibg="primary" ion-button block round (click)="enterPwd()">{{ 'TRANSACTION_TRANSFER_SUBMIT' | translate }}</button>
    </div>
</ion-content>