transaction-transfer {
    ion-content {
        ion-list {
            margin: 0;
            .scan {
                height: 22px;
                width: 22px;
                border: none;
                margin: 0 !important;
            }
            ion-input {
                font-size: 15px;
            }
            &.note {
                margin-bottom: 0 !important;
            }
        }
        .wrong {
            color: #d95959;
            font-size: 11px;
            margin: 0;
            padding: 0;
            padding-left: 16px;
            margin-top: 16px;
        }
    }
    ion-list.list {
        margin-bottom: 0;
    }
}