<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>转账</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-input type="text" placeholder="收款地址" [value]="toaddr" [(ngModel)]="toaddr"></ion-input>
            <button clear ion-button item-end (click)="qrScan()"><img class="scan" src="assets/transaction/icon_scan.png"></button>
        </ion-item>
        <ion-item>
            <ion-input type="volume" placeholder="打款数量" (focus)="focusNum()" (blur)="blurNum()" [(ngModel)]="transferValue" ></ion-input>
            <ion-note item-end *ngIf="isfocus">可用余额：{{ balance }}</ion-note>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-input type="text" placeholder="备注"></ion-input>
        </ion-item>
    </ion-list>
    <div padding>
        <button ion-button block round (click)="enterPwd()">提交</button>
    </div>
</ion-content>