// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.native-input {
    display: none !important;
}
.iwallic-loader {
    background: var(--ion-background-color);
    color: var(--ion-text-color);
}
ion-icon {
    vertical-align: middle;
    height: 28px;
    width: 28px;
    margin-bottom: 3px;
}
