<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>iwallic</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="top" style="background: url('assets/asset/detail_bg_img.png')  no-repeat center; background-size: 100% 100%;">
        <h5>您的{{ assetName }}资产</h5>
        <p>999999999</p>
    </div>
    <h5>近期交易记录</h5>
    <hr>
    <ion-list>
        <ion-item *ngFor="let i of items" [ngClass]="{'payment' : i % 2 == 0, 'revenue': i % 2 == 1}">
            <img src="assets/asset/record_icon_payment.png" alt="" *ngIf="i % 2 == 0">
            <img src="assets/asset/record_icon_revenue.png" alt="" *ngIf="i % 2 == 1">
            <span>xxxxxxxxx</span>
            <span class="num">{{ i }}</span>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)"  [enabled]="enabled">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<ion-footer>
    <ion-row>
        <ion-col>
            <button ion-col-6 [navPush]="transfer">
                <img src="assets/asset/detailspage_btn_icon_payment.png" alt="">
                <span>转账</span>
            </button>
        </ion-col>
        <ion-col>
            <button ion-col-6 [navPush]="receipt">
                <img src="assets/asset/detailspage_btn_icon_QRcode.png" alt="">
                <span>收款</span>
            </button>
        </ion-col>
    </ion-row>
</ion-footer>