<ion-header  no-border class="header-box">
    <ion-navbar transparent class="nav-bar" [color]="'default2' | theme | async">
        <button ion-button menuToggle color="white">
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
    <div class="top" [style.backgroundImage]="'url(' + ('assets/asset/detail_bg_img.png' | isrc | async) + ')'">
        <h5>{{ assetSymbol }}</h5>
        <p>{{ assetBalance }}</p>
    </div>
</ion-header>

<ion-content ibg="default2" >
    <h5 icolor="font">{{ 'ASSET_DETAIL_RECENTTRANSACTION' | translate }}</h5>
    <hr ibg="line" icolor="font">
    <ion-list class="tx-list">
        <ion-item-sliding *ngFor="let i of items" #slidingItem>
            <ion-item iborder="line" ibg="default2" [icolor]="i.value <= 0 ? 'font' : 'danger'" [ngClass]="{'payment' : i.value <= 0, 'revenue': i.value > 0}" (click)="browse(i.txid)">
                <ion-avatar item-start>
                    <img [isrc]="i.value <= 0 ? 'assets/asset/record_icon_payment.png' : 'assets/asset/record_icon_revenue.png'" />
                </ion-avatar>
                <h2>{{ i.value }} {{ i.name }}</h2>
                <p>{{ i.txid }}</p>
                <ion-note item-end icolor="primary" *ngIf="i?.unconfirmed">{{'TRANSACTION_LIST_UNCONFIRMED' | translate}}</ion-note>
            </ion-item>
            <ion-item-options ibg="default2" iborder="line">
                <button ion-button [color]="'primary' | theme | async" (click)="copyTx(i.txid, slidingItem)">
                    <ion-icon name="copy"></ion-icon>
                    {{'TRANSACTION_LIST_COPY' | translate}}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <div icolor="font2" class="more" margin-vertical padding text-sm text-center (click)="loadMore()">
        {{(transcation.loading ? 'TRANSACTION_LIST_LOADING' : transcation.nomore ? 'TRANSACTION_LIST_NORANSACTION' : 'TRANSACTION_LIST_LOADMORE') | translate}}
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content icolor="primary"></ion-refresher-content>
    </ion-refresher>

</ion-content>

<ion-footer>
    <ion-row>
        <ion-col ibg="primary" >
            <button ion-col-6 (click)="jumpTx()">
                <img src="assets/asset/detailspage_btn_icon_payment.png" alt="">
                <span>{{ 'ASSET_DETAIL_TRANSFER' | translate }}</span>
            </button>
        </ion-col>
        <ion-col ibg="primary">
            <button ion-col-6 [navPush]="receipt">
                <img src="assets/asset/detailspage_btn_icon_QRcode.png" alt="">
                <span>{{ 'ASSET_DETAIL_RECEIPT' | translate }}</span>
            </button>
        </ion-col>
    </ion-row>
</ion-footer>