<ion-header>
    <ion-navbar [color]="'default2' | theme | async">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ assetName }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content ibg="default" >
    <div class="top" [style.backgroundImage]="'url(' + ('assets/asset/detail_bg_img.png' | isrc | async) + ')'">
        <h5>{{ 'ASSET_DETAIL_YOUR' | translate }} {{ assetName }} {{ 'ASSET_DETAIL_ASSET' | translate }}</h5>
        <p>{{ assetBalance }}</p>
    </div>
    <h5 icolor="font">{{ 'ASSET_DETAIL_RECENTTRANSACTION' | translate }}</h5>
    <hr ibg="default2" icolor="font">
    <ion-list class="tx-list">
        <ion-item iborder="line" ibg="default2" icolor="font" *ngFor="let i of items">
            <ion-grid>
                <ion-row *ngIf="i.value <= 0" icolor="font">
                    <ion-col col-9>
                        <img isrc="assets/asset/record_icon_payment.png" alt="" *ngIf="i.value <= 0">{{ i.txid }}
                    </ion-col>
                    <ion-col text-right col-3 class="num">{{ i.value }}{{ i.name }}</ion-col>
                </ion-row>
                <ion-row *ngIf="i.value > 0" icolor="danger">
                    <ion-col col-9>
                        <img isrc="assets/asset/record_icon_revenue.png" alt="">{{ i.txid }}
                    </ion-col>
                    <ion-col text-right col-3 class="num">{{ i.value }}{{ i.name }}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <div icolor="font2" class="more" margin-vertical padding text-sm text-center (click)="loadMore()">{{transcation.loading ? '加载中' : transcation.nomore ? '没有更多数据' : '加载更多'}}</div>
    <ion-refresher *ngIf="!transcation.loading" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content icolor="primary"></ion-refresher-content>
    </ion-refresher>

</ion-content>

<ion-footer>
    <ion-row>
        <ion-col ibg="primary" >
            <button ion-col-6 (click)="jumpTx()">
                <img isrc="assets/asset/detailspage_btn_icon_payment.png" alt="">
                <span>{{ 'ASSET_DETAIL_TRANSFER' | translate }}</span>
            </button>
        </ion-col>
        <ion-col ibg="primary">
            <button ion-col-6 [navPush]="receipt">
                <img src="assets/asset/detailspage_btn_icon_QRcode.png" alt="">
                <span>{{ 'ASSET_DETAIL_RECEIPT' | translate }}</span>
            </button>
        </ion-col>
    </ion-row>
</ion-footer>